# === Node & dependencies ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# === Build output ===
dist/
build/

# === Environment variables ===
