PINATA_JWT=your_pinata_jwt
PINATA_GATEWAY=your_gateway_url
FRONTEND_URL=your_client_url
ROOTSTOCK_RPC_URL=https://public-node.testnet.rsk.co
CONTRACT_ADDRESS=your_deployed_contract_address
MIN_CONFIRMATIONS=1
PORT=4000
